 #randomWord {
   font-size: 40px !important;
   margin-top: 50px !important;
   display: inline-block !important;
 }

 #timer {
   font-size: 30px !important;
   margin-top: 20px !important;
   display: inline-block !important;
   margin-left: 10px !important;
   vertical-align: middle !important;
   line-height: 40px !important;
 }

 #buttons {
   margin-top: 50px !important;
 }

 #colorGrid {
   display: none !important;
   /* Oculta o grid inicialmente */
 }


 .row {
   display: flex !important;
   justify-content: center !important;
   /* Alinha os quadrados horizontalmente */
 }

 .colorSquare {
   width: 100px !important;
   height: 100px !important;
   margin: 5px !important;
   display: inline-block !important;
 }

 .colorSquare:hover {
   cursor: pointer !important;
 }

 #restartContainer {
   display: flex !important;
   justify-content: center !important;
   margin-top: 20px !important;
 }

 .hide {
   display: none !important;
 }